body { margin:0; font-family:Arial; }

/* HEADER */
header {
    position: relative;
    background:#004080;
    color:white;
    text-align:center;
    padding:15px;
}

.logo {
    position:absolute;
    left:15px;
    top:10px;
    width:60px;
    border-radius:50%;
}

header h1 {
    font-size:40px;
}

/* MAIN */
.main {
    display:flex;
    justify-content:space-around;
    padding:20px;
}

.left, .right {
    width:25%;
    text-align:center;
}

.box {
    background:gold;
    padding:20px;
    border-radius:50%;
    margin-bottom:20px;
    animation:fade 2s infinite alternate;
}

@keyframes fade {
    from{opacity:1;}
    to{opacity:0.4;}
}

.person img {
    width:120px;
    border-radius:50%;
}

/* CENTER */
.center {
    display:flex;
    align-items:center;
}

.vertical-text {
    display:flex;
    flex-direction:column;
    font-size:30px;
    margin-right:10px;
}

.slider img {
    width:450px;
    height:450px;
    display:none;
}

.slider img.active {
    display:block;
}

/* NOTICE */
.bottom {
    display:flex;
    justify-content:space-around;
}

.notice, .features {
    width:40%;
    background:#f2f2f2;
    padding:15px;
}

 
/* MEDIA */
.media-section {
    display:flex;
    justify-content:space-around;
    padding:20px;
}
/* 0 */
 
 .video-box, .image-box {
    width:100%;
    justify-content: center;
    align-items:center;
}


.video-slide, .img-slide {
    width:85%;
    height: auto;
    display: none;
    margin: 0 auto;  

}


.video-slide.active,
.img-slide.active {
    display:block;
}

/* 1 */
 .image-box1 {
    width:100%;
    justify-content: center;
    align-items:center;
}


 .img-slide1 {
    width:85%;
    height: auto;
    display: none;
    margin: 0 auto;  

}


.img-slide1.active {
    display:block;
}
/* 2 */
 .image-box2 {
    width:100%;
   justify-content: center;
    align-items:center;
 
}

 .img-slide2 {
    width:85%;
    height: auto;
    display: none;
    margin: 0 auto;  
}


.img-slide2.active {
    display:block;
}

/* 3 */
 .image-box3 {
    width:100%;
   justify-content: center;
    align-items:center;
 
}

.img-slide3 {
    width:85%;
    height: auto;
    display: none;
    margin: 0 auto;  
}

.img-slide3.active {
    display:block;
}

/* MAP */
.map {
    text-align:center;
}

.map iframe {
    width:80%;
    height:300px;
}

/* BIG LINK */
.big-link {
    text-align:center;
    margin:20px;
}

.big-link a {
    font-size:30px;
    color:red;
    font-weight:bold;
}

/* FOOTER */
footer {
    background:#004080;
    color:white;
    text-align:center;
    padding:10px;
    } 
 
